<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script type='text/javascript'>
        function sendIt(method){
            addressToUse = window.location.hostname + ':' + String({{port}});
            var url = 'http:' + String.fromCharCode(47,47) + addressToUse + '/';
            var reqJSON = document.getElementById('requestBody').value;
            if (method === 'GET') {
                var commandText = document.getElementById('txt2get').value;
                url = url + commandText;
                window.location = url;
            } else if (method === 'POST') {
                var commandText = document.getElementById('txt2post').value;
                url = url + commandText;
                $.ajax(url, {
                    'data': reqJSON,
                    'type': 'POST',
                    'processData': false,
                    'contentType': 'application/json',
                    'crossDomain': true
                })
                    .success(function (data, status) {
                            var msg = 'status: ' + status + '\n';
                            if (data.message) {
                                msg += data.message;
                            } else {
                                try {
                                    msg += JSON.parse(data).message;
                                } catch (ex) {
                                    msg += ex.message + ' data = ' + 'data.message = ' + data.message;
                                }
                            }
                            display(msg);
                        })
                    .fail(function () {
                        display('Error: POST failure.');
                    });
                } else if (method === 'PUT') {
                        var commandText = document.getElementById('txt2put').value;
                        url = url + commandText;
                        $.ajax(url, {
                            'data': reqJSON,
                            'type': 'PUT',
                            'processData': false,
                            'contentType': 'application/json',
                            'crossDomain': true
                        })
                            .success(function (data, status) {
                                var msg = 'status: ' + status + '\n';
                                if (data.message) {
                                    msg += data.message;
                                } else {
                                    try {
                                        msg += JSON.parse(data).message;
                                    } catch (ex) {
                                         msg += ex.message + ' data = ' + 'data.message = ' + data.message;
                                     }
                                 }
                                 display(msg);
                             })
                             .fail(function () {
                                 display('Error: PUT failure.');
                             });
                 } else if (method === 'DELETE') {
                             var commandText = document.getElementById('txt2delete').value;
                             url = url + commandText;
                             $.ajax(url, {
                                 'data': '',
                                 'type': 'DELETE',
                                 'processData': false,
                                 'contentType': 'application/json',
                                 'crossDomain': true
                             })
                                 .success(function (data, status) {
                                     var msg = 'status: ' + status + '\n';
                                     if (data.message) {
                                         msg += data.message;
                                      } else {
                                          try {
                                              msg += JSON.parse(data).message;
                                          } catch (ex) {
                                              msg += ex.message + ' data = ' + 'data.message = ' + data.message;
                                          }
                                      }
                                      display(msg);
                                  })
                                  .fail(function () {
                                      display('Error: DELETE failure.');
                                   });
                               } else {
                                   alert(method + ' is not defined.');
                               }}

                           function display(msg) {
                               document.getElementById('taDisplay').value = msg;}
        </script>
    </head>
    <body>
        <h3>{{title}}</h3>
        <h4>{{copyright}}</h4>
        <h1>{{heading}}</h1>
        <p><strong>Method</strong> = {{method}}</p>
        <p><strong>URI / API command</strong> = {{command}}</p>
        <h3>API help</h3>
        <pre>{{Help}}</pre>
        <h3>API Testers</h3>

         <input type='button' value='GET'  style='width:64px;' onclick='sendIt("GET");'>/</input>
         <input type='text' id='txt2get' size='48' onkeydown='javascript:if(event.keyCode === 13) sendIt("GET");'>
         <br>
         <input type='button' value='PUT' style='width:64px;' onclick='sendIt("PUT");'>/</input>
         <input type='text' id='txt2put' size='48' onkeydown='javascript:if(event.keyCode === 13) sendIt("PUT");'>
         <br>
         <input type='button' value='POST' style='width:64px;' onclick='sendIt("POST");'>/</input>
         <input type='text' id='txt2post' size='48' onkeydown='javascript:if(event.keyCode === 13) sendIt("POST");'>
         <br>
         <input type='button' value='DELETE' style='width:64px;' onclick='sendIt("DELETE");'>/</input>
         <input type='text' id='txt2delete' size='48' onkeydown='javascript:if(event.keyCode === 13) sendIt("DELETE");'>
         <br>
         <label>Request Body: <br><textarea id='requestBody' rows='2' cols='64'></textarea></label>
         <br>
         <label>Response: <br><textarea id='taDisplay' rows='2' cols='64'></textarea>

         <h3>HTTP Headers</h3>
         <blockquote>

                {% for item in headers %}
                    <li>{{ item }} </li>
                {% endfor %}

        </blockquote>        
    </body>
</html>
